* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.container{
  background-color: #0B192C;
}
/* Global */
.select{
  background-color: #3C3D37;
  color: white;
  border: none;
  border-radius: 5px;
  
}
/* end Global */
h1{
  font-family: "Danfo", serif;
  font-size: 3rem;
}
.h1-kick{
  color:#5B99C2 ;
}
.h1-snare{
  color:#fa6b6b ;
}
.h1-hihat{
  color:#FFAD60;

}


.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #5B99C2;
}
.snare-pad {
  background: #fa6b6b;
}
.hihat-pad {
  background: #FFAD60;
}

.kick-pad.active {
  background: #134B70;
}
.snare-pad.active {
  background: #C62E2E;
}
.hihat-pad.active {
  background: #A66E38;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin-top: 5rem;
}
.hihat,
.snare,
.kick {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  border: none;
  padding: 1rem;
  background:#FF6500;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 20rem;
  font-size:2rem;
  background: #3C3D37;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 10px;
  transition: all .3s ease;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #e2781b;
}
.play:hover{
  color: #FF6500;
  box-shadow: -0.2rem -0.2rem 0.2rem #e64334;
  letter-spacing:.1rem;

}
select {
  padding: 1rem;
  font-size: 1rem;
}
.mute{
  background-color:#FF6500 ;
}
.mute.active {
  background-color: black;
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width:100%;
  position: relative;
  background:#FF6500;
  cursor: move;
  border-radius: 1rem;
}
.tempo p {
  margin: 2rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
  font-family: "Permanent Marker", cursive;
  color: white;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
